
    article {
        margin-inline: auto;
        --gap: clamp(1rem, 6vw, 2rem);
        --full: minmax(0, 1fr);
        --content: minmax(40ch, 65ch);
        --popout: minmax(1rem, 8rem);
    
        display: grid;
        grid-template-columns: 
            [full-start] var(--full)
            [popout-start] var(--popout)
            [content-start] var(--content) 
            [content-end]
             var(--popout) [popout-end]
            var(--full)  [full-end];

            & * {
                grid-column: content;
            }
            
            & *:is(blockquote){
                grid-column: popout;
            }
            
            & *:is(img){
                grid-column: full; 
            }
    }




